{% extends 'accounts_base.html' %}
{% load static %}

<!-- pages css -->
{% block extrahead %}

{% endblock %}
{% block content %}
<body>
      <div id="blog-container">
          <div class="" style=>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <br>
              <h3>Pause...</h3>
              <br>
              <p>Take a breather from your busy life for a moment, because you deserve it.</p>
              <p>Questions that surround the existence of God, our ultimate purpose of life, religion, and faith are nothing new...</p>
              <p>But for some reason it's extremely difficult to find friends who entertain these thoughts.</p>
              <p>OR... maybe its only just a brief entertainment for them but not a serious soul searching as you want it to be.</p>
              <p>OR... maybe an event or series of events in your life caused you to take a step back and reexamine you life in a different light.</p>
              <p>OR... maybe you are open for insight to your respective views of life.</p>
              <p>If you relate to the mentioned circumstances above... this blog is for you.</p>
              <p>Take a moment, relax, take a sip, and explore with me.</p>
              <br>
              <p>PT</p>
            <div id="about" class="card-body">
              <h3>About</h3>
                <p>My natural love for the studies of philisophy, theology, and religion pushes me forward </p>
            </div>
            </div>
          </div>
        </div>
</body>


{% endblock %}
